{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chatbot Interface</title>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    {% load static %}
    <link href="{% static 'mental/css/index.css' %}" rel="stylesheet">
</head>
<body>
    
    <div class="circle"></div>
    <div class="circle1"></div>
    <div class="circle2"></div>
    <div class="circle3"></div>
    
    <!-- Chatbot button -->
    <div class="chatbot-button">
        <button id="openChatbot">チャットを開く</button>
    </div>
    <!-- Chatbot window -->
    <div class="chatbot-window">
        <div class="chatbot-header">
            <p>チャット</p>
            <button id="closeChatbot">閉じる</button>
        </div>
        <div class="chatbot-messages" id="messages"></div>
        <div class="chatbot-input">
            <input type="text" id="userInput" placeholder="何かお困りですか？">
            <button id="sendMessage">送信</button>
        </div>
    </div>
    <script>
        $(document).ready(function() {
    $('#messages').append('<div>メンタルマン: ' + 'こんにちは！今日何があったか聞かせてくれる？' + '</div>');
    $('#openChatbot').click(function() {
        $('#openChatbot').fadeOut();
        $('.chatbot-window').fadeIn();
    });
    $('#closeChatbot').click(function() {
        closeChatbot();
    });
    $('#sendMessage').click(function() {
        sendMessage();
    });
});

function closeChatbot() {
    $('.chatbot-window').fadeOut();
    $('#openChatbot').fadeIn();
}

function sendMessage() {
    let message = $('#userInput').val();
    $('#messages').append('<div>あなた: ' + message + '</div>');
    
    $.post("{% url 'index' %}", { message: message, csrfmiddlewaretoken: '{{ csrf_token }}' }, function(data) {
        handleBotResponse(data.message);
    });

    $('#userInput').val('');
}

function handleBotResponse(message) {
    $('#messages').append('<div>メンタルマン: ' + message + '</div>');
}
    </script>
</body>
</html>