{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chatbot Interface</title>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    {% load static %}
    <link href="{% static 'mental/css/login.css' %}" rel="stylesheet">
</head>
<body>
    
    
    <ul>
        <li><p class="sample1"><a href="http://127.0.0.1:8000/mental/index_view/" ><img src="{% static 'mental\img\IMG_1623.jpg' %}" alt="画像の説明" width="800" height="450"></a></p></li>　
        <li><p class="sample2"><a href="http://127.0.0.1:8000/mental/index_view2/" ><img src="{% static 'mental\img\IMG_1624.jpg' %}" alt="画像の説明" width="800" height="450"></a></p></li>
    </ul>
    <b>
    <c>アン</c>
    <p class="dis1">VOICEVOX(音声):四国めたん</p>
    <d>カズヤ</d>
    <p class="dis2">VOICEVOX(音声):玄野武宏</p>
    </b>
    <e>キャラ選択画面<br>
    画像をクリック</e>

    <div class="speech-bubble">
        <p>あなたのメンタルを癒す優しいお姉さんです。丁寧な言葉遣いで<br>笑顔と包容力がある声が特徴です！</p>
      </div>

      <div class="speech-bubble1">
        <p>元気はつらつな好青年で、友人のように振る舞います。<br>
            友達感覚で話したい方などはオススメ！</p>
      </div>

</body>
</html>